<a href="https://colab.research.google.com/github/satyaprakashmehta/ai-ml-practice/blob/master/models/simple_linear_regression/simple_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Simple Linear Regression - ML/AI***

importing the libraries

In [9]:
import pandas as pd
import matplotlib.pyplot as plot 
from sklearn.model_selection import train_test_split

importing the data set

In [ ]:
data = pd.read_csv("https://raw.githubusercontent.com/satyaprakashmehta/ai-ml-practice/master/data_sets/Salary_Data.csv")
#print(data)
x = data.iloc[:,:-1]
y = data.iloc[:,-1]

print(x)
print("----------------------------")
print(y)
print("----------------------------")

spliting data into training and test set

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.20, random_state=2)

print train and test data set

In [16]:
print(x_train)
print("----------------------------")

print(x_test)
print("----------------------------")

print(y_train)
print("----------------------------")

print(y_test)
print("----------------------------")

    YearsExperience
23              8.2
6               3.0
3               2.0
20              6.8
5               2.9
27              9.6
12              4.0
4               2.2
10              3.9
16              5.1
28             10.3
25              9.0
17              5.3
2               1.5
7               3.2
26              9.5
24              8.7
18              5.9
11              4.0
22              7.9
29             10.5
13              4.1
15              4.9
8               3.2
----------------------------
    YearsExperience
1               1.3
0               1.1
14              4.5
9               3.7
21              7.1
19              6.0
----------------------------
23    113812.0
6      60150.0
3      43525.0
20     91738.0
5      56642.0
27    112635.0
12     56957.0
4      39891.0
10     63218.0
16     66029.0
28    122391.0
25    105582.0
17     83088.0
2      37731.0
7      54445.0
26    116969.0
24    109431.0
18     81363.0
11     55794.0
22    101302.0
29    121872.0
13     57081.0
15     67938.0
8      64445.0
Name: Salary, dtype: float64
----------------------------
1     46205.0
0     39343.0
14    61111.0
9     57189.0
21    98273.0
19    93940.0
Name: Salary, dtype: float64
----------------------------