<a href="https://colab.research.google.com/github/satyaprakashmehta/ai-ml-practice/blob/master/pandas/concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First Part

In [1]:
import pandas as pd

sr1= pd.Series([0,1,2,3,4])
#print(sr1)

sr2= pd.Series([5,6,7,8])
#print(sr2)

sr3= pd.concat([sr1, sr2])
#print(sr3)

df1= pd.DataFrame({'ID': [1,2,3,4], 'Name' : ['A','B','C','D'], 'class' : [5,6,7,8]})
#print(df1)

df2= pd.DataFrame({'ID': [5,6,7,8], 'Name' : ['E','F','G','H'], 'class' : [9,10,11,12]})
#print(df2)

df3= pd.concat([df1, df2], axis= 0)
#print(df3)

df4= pd.concat([df1, df2], axis= 1)
#print(df4)

df5= pd.concat([df1, df2], axis= 0, ignore_index= True)
print(df5)

   ID Name  class
0   1    A      5
1   2    B      6
2   3    C      7
3   4    D      8
4   5    E      9
5   6    F     10
6   7    G     11
7   8    H     12

Second Part

In [45]:
import pandas as pd

df6= pd.DataFrame({'ID': [1,2,3,4], 'Name' : ['A','B','C','D'], 'class' : [5,6,7,8]})
df7= pd.DataFrame({'ID': [3,4], 'Name' : ['C','D'], 'class' : [7,8]})

df8 = pd.concat([df6, df7], axis=0, ignore_index= True)
#print(df8)


df9= pd.DataFrame({'ID': [1,2,3,4], 'Name' : ['A','B','C','D'], 'class' : [5,40,7,8], 'marks': [40, 50, 60, 70]})
df10= pd.DataFrame({'ID': [5,6], 'Name' : ['D','E'], 'class' : [8,9]})

#df11 = pd.concat([df9, df10], axis=1, ignore_index= True)
#print(df11)
df12 = pd.concat([df9, df10], axis=1, ignore_index= True, join='inner', sort=  True)
int(df12)

#df13 = pd.concat([df9, df10], axis=1, ignore_index= True, join='outer')
#print(df13)

#df14 = pd.concat([df9, df10], axis=1, join_axes = [df9.index])
#print(pd.concat([df9, df10], axis=1, join_axes = [df10.index]))


df15 = pd.concat([df9, df10], axis=1, keys=['first DF', 'second DF'])
#print(df15)

df16 = pd.DataFrame({'ID' : [6,7,8,9], 'marks' : [40,50,60,70]})
#print(df16)

df17= pd.concat([df9, df16])
#print(df17)

df9= pd.DataFrame({'ID': [1,2,3,4], 'Name' : ['A','B','C','D'], 'class' : [5,40,7,8], 'marks': [40, 50, 60, 70]})

df18= pd.merge(df9, pd.DataFrame({'ID' : [2], 'marks': [40]}), how= 'outer', on= 'ID')
#print(df18)

TypeError: ignored