<a href="https://colab.research.google.com/github/satyaprakashmehta/ai-ml-practice/blob/master/pandas/group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/satyaprakashmehta/ai-ml-practice/master/data_sets/student_result.csv")

print(df);

dfgroups = df.groupby('Class')
dfgroups = df.groupby(by='Class')
print(dfgroups.groups)

   Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60
3        1004       C     11          0                       1          45
4        1005       C     12          5                       2          75
{10: Int64Index([0, 1, 2], dtype='int64'), 11: Int64Index([3], dtype='int64'), 12: Int64Index([4], dtype='int64')}

In [30]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/satyaprakashmehta/ai-ml-practice/master/data_sets/student_result.csv")

#print(df);

dfgroups = df.groupby(['Class'])

#print(dfgroups.groups)

print(dfgroups.get_group(10))

print('-----')



for df1 in dfgroups:
  print(df1)
  print('')
  print('')

<bound method GroupBy.mean of <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f7af52a4f28>>
-----
(10,    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
0        1001       A     10          2                       3          50
1        1002       B     10          6                       2          80
2        1003       A     10          3                       2          60)


(11,    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
3        1004       C     11          0                       1          45)


(12,    Student ID Section  Class  Study hrs  Social Media usage hrs  Percentage
4        1005       C     12          5                       2          75)

In [38]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/satyaprakashmehta/ai-ml-practice/master/data_sets/student_result.csv")

#print(df);

dfgroups = df.groupby(['Class'])

#print(dfgroups.groups)
#print(dfgroups.max())
#print(dfgroups.max())
#print(dfgroups.describe())
#print(dfgroups.sum())
print(dfgroups.agg(['mean','max','sum','min']))

      Student ID                   Study hrs  ... Social Media usage hrs Percentage
            mean   max   sum   min      mean  ...                    min       mean max  sum min
Class                                         ...
10          1002  1003  3006  1001  3.666667  ...                      2  63.333333  80  190  50
11          1004  1004  1004  1004  0.000000  ...                      1  45.000000  45   45  45
12          1005  1005  1005  1005  5.000000  ...                      2  75.000000  75   75  75

[3 rows x 16 columns]

In [ ]:
()