<a href="https://colab.research.google.com/github/satyaprakashmehta/ai-ml-practice/blob/master/pandas/merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

df1= pd.DataFrame({'ID' : [1,2,3,4], 'class' : [9,10,11,12]})

#print(df1)

df2= pd.DataFrame({'ID' : [1,2,3,4], 'Name' : ['A','B','C','D']})
#print(df2)

df3= pd.merge(df1, df2, on = 'ID')
print(df3)

   ID  class Name
0   1      9    A
1   2     10    B
2   3     11    C
3   4     12    D

In [31]:
df1= pd.DataFrame({'ID' : [1,2,3,4,6], 'class' : [9,10,11,12,13]})

#print(df1)

df2= pd.DataFrame({'ID' : [1,2,3,4,5], 'Name' : ['A','B','C','D','E']})
#print(df2)

df3= pd.merge(df1, df2, on='ID', how='outer', indicator= True)
#print(df3)

df4= pd.merge(df1, df2, on='ID', how='inner', indicator= True)
#print(df4)

df5= pd.merge(df1, df2, on='ID', left_index= True)
#print(df3)

df6= pd.merge(df1, df2, on='ID', right_index= True)
print(df6)

   ID  class Name
0   1      9    A
1   2     10    B
2   3     11    C
3   4     12    D